PORT=3000
VAPID_PUBLIC_KEY=BKPjkYH16YAQmBxARvV_IjRTsAhHRMSbLA8zcPY1--ULq8H-m9e7DJ1ZX7VyZFF7IrVlQuBEOlYmEjsA-2fg220
VAPID_PRIVATE_JWK={"alg":"ES256","key_ops":["sign"],"ext":true,"kty":"EC","x":"...","y":"...","crv":"P-256","d":"..."}
VAPID_SUBJECT=mailto:you@example.com
ALLOWED_ORIGINS=https://strawhat1814.github.io,http://localhost:5173
TICK_MS=120000
